/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  margin: 0;
  background: url("loading.png") repeat;
}

h1 {
  display: none;
}

#dialogArea,
.overlayArea {
  position: absolute;
  z-index: 5;
  transition-property: opacity;
  transition-duration: .2s;
}

#dialogArea.hidden,
.overlayArea.hidden {
  opacity: 0;
  transition-duration: 1s;
}

#dialogArea:-moz-system-metric(touch-enabled),
.overlayArea:-moz-system-metric(touch-enabled) {
  font-size: 3mozmm;
}

#dialogArea input[type="button"]:-moz-system-metric(touch-enabled),
#dialogArea input[type="text"]:-moz-system-metric(touch-enabled),
#dialogArea select:-moz-system-metric(touch-enabled),
.overlayArea input[type="button"]:-moz-system-metric(touch-enabled),
.overlayArea select:-moz-system-metric(touch-enabled) {
  font-size: 3mozmm;
}

#menuArea {
  /* width: 30em; */
  left: 1%;
  top: 1em;
}

#zoomArea {
  right: 1%;
  top: 1em;
  text-align: center;
}

#fullscreenArea {
  right: 1%;
  bottom: 2em;
  text-align: center;
}

#zoomLevel {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
  padding: 0 3px;
}

#settingsArea,
#trackArea {
  display: none;
  background-color: rgba(255, 255, 255, .8);
  border: 0;
  border-radius: 5px;
}

#settingsArea > legend,
#trackArea > legend {
  display: none;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
}

#map, #track {
  position: fixed;
  border: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#map {
  z-index: 1;
}

#track {
  z-index: 3;
}

#action {
  position: absolute;
  bottom: 5px;
  left: .5em;
  margin: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
  padding: 0 3px;
}

#actionimg {
  vertical-align: text-bottom;
}

.debugHide {
  display: none;
}

.settingsSubTitle {
  margin: .5em 0 0;
  font-weight: bold;
}

#copyright {
  bottom: 5px;
  right: .5em;
  margin: 0;
  font-size: small;
  opacity: .66;
  z-index: 2;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 0 3px;
}

#copyright.hidden {
  opacity: 0;
}

#dialogArea {
  top: 20%;
  right: 0;
  left: 0;
  width: 30ch;
  max-width: 92%;
  z-index: 10;
  background-color: rgba(255, 255, 255, .8);
  border: 0;
  margin: auto;
  padding: .5em;
  border-radius: 5px;
}

#dialogArea.hidden {
  top: -100%;
}

.dialogTitle {
  margin: 0 0 .5em;
  font-weight: bold;
}

.dialogHelp {
  margin: .5em 0;
  font-size: small;
  opacity: .66;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 10px;
  }
  #menuArea {
    top: 1px;
    left: 1px;
  }
  #zoomArea {
    top: 1px;
    right: 1px;
  }
  #fullscreenArea {
    right: 1px;
    bottom: 10px;
  }
  #copyright {
    bottom: 1px;
    right: 1px;
    font-size: 8px;
  }
}
