/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  display: none;
}

#overlayArea {
  position: absolute;
  /* width: 30em; */
  left: 1%;
  top: 1em;
  z-index: 5;
}

#zoomLevel {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
  padding: 0 3px;
}


#settingsArea,
#trackArea {
  display: none;
  background-color: rgba(255, 255, 255, .8);
  border: 0;
  border-radius: 5px;
}

#settingsArea > legend,
#trackArea > legend {
  display: none;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
}

#map {
  border: 0;
  top: 1em;
  left: 1%;
  right: 1%;
  z-index: 1;
}

#debug {
  position: absolute;
  bottom: .5em;
  left: .5em;
  margin: 0;
}

.debugHide {
  display: none;
}

#copyright {
  position: absolute;
  bottom: .5em;
  right: .5em;
  margin: 0;
  font-size: small;
  opacity: .5;
}
